.page-main {
   position: relative;
   z-index: 2;
   display: flex;
   background-color: $mainColorBg;
   padding-top: rem(70);
   @include adaptiveValue("padding-bottom", 70, 35);
}
.portfolio-title {
   font-family: "Gilroy-Medium";
   @include adaptiveValue("font-size", 45, 28);
   line-height: math.div(53, 45);
}
.portfolio-subtitle {
   font-size: rem(18);
   line-height: math.div(21, 18);
   color: #514040;
   &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 18);
   }
}
//========================================================================================================================================================
.specialization {
   @include adaptiveValue("padding-top", 30, 15);
   @include adaptiveValue("padding-bottom", 30, 15);
   position: relative;
   // .specialization__container

   &__container {
      text-align: center;
      @media (max-width: $mobileSmall) {
         padding: 10px;
      }
   }

   // .specialization__body

   &__body {
      display: grid;
      @include adaptiveValue("gap", 20, 15);
      @include adaptiveValue("padding-top", 60, 20);
      @include adaptiveValue("padding-bottom", 60, 20);
      grid-template-columns: repeat(auto-fit, minmax(rem(385), 1fr));
      @media (max-width: $tablet) {
         grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
      }
   }
   &__button {
      padding: rem(18) rem(66);
   }
   // .specialization__circle
   &__circle {
      position: absolute;
      top: 20%;
      right: 0%;
      z-index: 1;
   }
   // .specialization__circle
   &__vector {
      position: absolute;
      top: -30%;
      left: 0;
      z-index: 1;
   }
}
.body-specialization {
   // .body-specialization__cart

   &__cart {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 5px 15px rgba(49, 49, 49, 0.5);
      border-radius: 5px;
      background-color: #fff;
      text-align: left;
      padding: rem(40) rem(30);
      @media (max-width: $mobile) {
         padding: rem(20) rem(10);
      }
   }
}
.cart-body-specialization {
   // .cart-body-specialization__title

   &__title {
      font-family: "Gilroy-SemiBold";
      font-size: rem(22);
      line-height: math.div(33, 22);
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 30, 15);
      }
   }

   // .cart-body-specialization__text

   &__text {
      font-size: rem(18);
      line-height: math.div(27, 18);
      color: #514040;
      flex: 1 1 auto;
      padding: rem(0) rem(20) rem(0) rem(0);
      & span {
         font-weight: 700;
         text-transform: uppercase;
      }
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }
   // .cart-body-specialization__icons
   &__icons {
      display: flex;
      flex-wrap: wrap;
      gap: rem(20);
      & img {
         max-width: rem(48);
         max-height: rem(48);
         @media (max-width: $mobile) {
            max-width: rem(30);
            max-height: rem(30);
         }
      }
      &:not(:last-child) {
         margin-bottom: rem(20);
      }
   }
   // .cart-body-specialization__item

   &__item {
      line-height: math.div(24, 16);
      text-decoration-line: underline;
      color: $mainColorGreen;
   }
}
//========================================================================================================================================================
